nav {
  background-color: rgb(65, 7, 107);
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  margin-left: 10px;
  transition: background .5s ease-in-out;
}

.navbar-collapse {
  text-align: center;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  border-radius: 5px;
  background-color: rgb(100, 34, 161);
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
  border-color: white;
  color: white;
}

.text-center .p-2 {
  background-color: rgb(65, 7, 107);
  color: white;
}
